.product-container {
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 20px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    flex-wrap: wrap;
    height: 500px;
    width: 300px;
    box-sizing: border-box;
}


.product-img {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    width: 100%
}

.product-img img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.product-img:hover img {
    transform: scale(1.1);
}

.product-details {
    margin-left: 15px;
}

.product-container:hover .product-detail {
    display: block;
}

.product-name {
    font-size: 18px;
    margin: 0;
    color: #333;
}

.product-price {
    margin: 10px 0;
    color: #8B008B;
}
.discounted-price {
    font-weight: bold;
}

.original-price {
    color: #999;
}

.line-through {
    text-decoration: line-through;
}

.product-rating img {
    height: 18px;
    width: 90px;
}

.purchase-count {
    font-size: 13px;
    margin: 0;
    color: #333;
}

.action-buttons {
    display: flex;
    align-items: center;
}

.add-to-cart-icon {
    height: 50px;
    width: 50px;
    margin-right: 5px;
}

.add-to-cart-btn, .buy-now-btn {
    background-color: #8B008B;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.add-to-cart-btn:hover, .buy-now-btn:hover {
    background-color: #6a006a;
}