.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;

}

.image-section,
.form-section {
  flex: 1;
  margin-right: 20px;
}

.image-wrapper img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.content-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.section-heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.section-heading span {
  color: rgb(191, 152, 80);
}

.section-paragraph {
  font-size: 16px;
}

.form-wrapper {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
}

h2 {
  padding: 10px;
  border-radius: 8px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 15px; 
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}

.remember-forgot {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 15px;
}

.remember-me {
  display: flex;
  align-items: center;
}

.remember-me label {
  font-size: 16px;
  margin-left: 8px;
  white-space: nowrap;
}
.login-btn {
  background-color: #ff9900;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}


.register {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.register p {
  margin: 0;
}

.register a {
  color: #ff9900;
  text-decoration: none;
}

.or {
  text-align: center;
  margin: 15px 0;
}

.list {
  display: flex;
  justify-content: space-around;
}

.item {
  margin: 0 5px;
}

.item a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.gender {
  display: flex;
  align-items: center; 
  margin-bottom: 15px;
}

.gender label {
  display: flex;
  align-items: center;
  margin-right: 10px; 
}

.gender input {
  margin-right: 5px; 
}

.login a {
  color: #ff9900;
  text-decoration: none;
}

.login {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.login p {
  margin: 0;
}
